.container {
    display: flex;
    justify-content:inherit;
    gap: 0.5rem;
}

.orderByIcon {
    width: 24px;
}

.select {
    width: 100%;
    align-self: center;
    border: none;
    border-bottom: 2px solid var(--accent-color);
    color: inherit;
    background-color: inherit;
}