html {
  /* avoid scrollbar jumping */
  overflow-y: scroll;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  /* https://colorhunt.co/palette/f4f3f3dfdfdfbfd8d5b1bed5 */
  --primary-color: #FEFCF3;
  --primary-text-color: #151922;
  --error-text-color: red;
  --secondary-color: #F5EBE0;
  --card-bg-color: #F5EBE0;
  --accent-color: #DBA39A;
  --search-input-bg-color: var(--secondary-color);
  --border-hover-color: #df85c6;
  
  /* Original*/
  /* --primary-color: #F4F3F3;
  --primary-text-color: #151922;
  --error-text-color: red;
  --secondary-color: #DFDFDF;
  --accent-color: #C0A597;
  --search-input-bg-color: #D1B6A9;
  --search-input-border-hover-color: #df85c6;
  --card-bg-color: white; */
}

body {
  /* font-family: 'Raleway', sans-serif; */
  /* font-family: 'Open Sans', sans-serif; */
  font-family: 'Montserrat', sans-serif;
  color: var(--primary-text-color);
  background-color: var(--primary-color);
  margin: 0;
}

header,
main {
  max-width: 1300px;
  margin: 0 auto;
  padding-left: 1.5em;
  padding-right: 1.5em;
}

header {
  padding-top: 1.5em;
}

main {
  position: relative;
  z-index: 0;
}

select {
  font-family: inherit;
  font-size: 1rem;
  padding: 0.25em 0.5em;
}

select:focus {
  outline: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.largeLabel {
  display: inline-block;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.required,
.error {
  color: var(--error-text-color);
}

.btn-primary {
  cursor: pointer;
  border: none;
  background-color: var(--accent-color);
  color: var(--primary-text-color);
  padding: 0.5em 1.5em;
  font-size: 1.25rem;
  font-family: inherit;
  border-radius: 5px;
}

.btn-primary:hover,
.btn-primary:focus {
  opacity: 0.8;
}

.btn-disabled,
.btn-disabled:hover,
.btn-disabled:focus {
  cursor: auto;
  opacity: 0.4;
}

.btn-small {
  cursor: pointer;
  border: none;
  background-color: var(--accent-color);
  color: var(--primary-text-color);
  padding: 0.25em;
  font-size: 1rem;
  font-family: inherit;
  border-radius: 5px;
  text-decoration: none;
}


/* Loader */
.animated-paw {
  height: 4em;
}

@keyframes loader {
  to {
    opacity: 0.1;
    transform: translate3d(0, -16px, 0);
  }
}

.loader {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader>div {
  width: 64px;
  height: 64px;
  margin: 3rem 0.2rem;
  /* background: var(--accent-color);
	border-radius: 50%; */
  animation: loader 0.6s infinite alternate;
}

.loader>div:nth-child(2) {
  animation-delay: 0.2s;
}

.loader>div:nth-child(3) {
  animation-delay: 0.4s;
}