.title {
    font-size: 1.5rem;
    margin: 1em auto;
}

.form {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}

.infoContainer {
    margin-top: 5em;
}

/* .fullWidth {
    grid-column: span 2;
} */

/* .form button, */
.form fieldset,
.form input,
.form legend,
.form select,
.form textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    /* box-sizing: border-box; */
}

.form input,
.form select,
.form textarea {
    border: 2px solid var(--accent-color);
    background-color: var(--primary-color);
    /* border-radius: 0.25rem; */
}

.form input:focus,
.form select:focus,
.form textarea:focus {
    outline: none;
    border: 2px solid var(--primary-text-color);
}

.form input[type="text"],
.form input[type="email"],
.form textarea {
    font-size: 1.25rem;
    line-height: 1.5;
    font-family: inherit;
    display: block;
    width: 100%;
    padding: 0.5rem 0.75rem;
}

.form select {
    background: url("../images/down-arrow.svg") no-repeat center right 0.75rem;
    font-size: 1.25rem;
    line-height: 1.5;
    font-family: inherit;
    display: inline-block;
    width: 100%;
    padding: 0.5rem 0.75rem;
}

.largeLabel {
    display: inline-block;
    font-weight: 500;
    margin-bottom: 0.5rem;
}

.form input::placeholder,
.form textarea::placeholder {
    opacity: 1;
    /* Firefox */
    color: var(--accent-color);
}

.form .btn, 
.form .btnSelect {
    cursor: pointer;
    border: none;
    background-color: var(--accent-color);
    color: var(--primary-text-color);
    /* margin-top: 2em; */
    padding: 0.5em 1.5em;
    font-size: 1.25em;
    font-family: inherit;
    border-radius: 5px;
}

.form .btnSelect {
    width: 8%;
    margin-left: 2%;
}

.form .btn {
    width: 100%;
}

.form .btn:hover,
.form .btn:focus,
.form .btnSelect:hover,
.form .btnSelect:focus {
    box-shadow: 0 1px 5px var(--accent-color);
}

.form .btnDisabled,
.form .btnDisabled:hover,
.form .btnDisabled:focus {
    cursor: auto;
    opacity: 0.4;
    box-shadow: none;
}


.form .required {
    color: red;
}

.selectedTemperaments {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
}

.selectedTemperaments p {
    margin-right: 0.5em;
}

.goBackText {
    font-size: 1.3rem;
    text-align: center;
    cursor: pointer;
}

/* 320px — 480px: Mobile devices
481px — 768px: iPads, Tablets
769px — 1024px: Small screens, laptops
1025px — 1200px: Desktops, large screens
1201px and more —  Extra large screens, TV */

@media (min-width: 769px) {
    .name {
        grid-area: name;
    }

    .lifeSpan {
        grid-area: lifeSpan;
    }

    .image {
        grid-area: image;
    }

    .height {
        grid-area: height;
    }

    .weight {
        grid-area: weight;
    }

    .temperaments {
        grid-area: temperaments;
    }

    .submit {
        grid-area: submit;
    }

    .form {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, auto);
        grid-column-gap: 1em;
        grid-row-gap: 2em;
        grid-template-areas:
            "name lifeSpan"
            "height weight"
            "image temperaments"
            "submit .";
    }

    .form .btn {
        width: fit-content;
    }
    
}