.content {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2em;
}

/* Responsive layout - makes a one column-layout instead of two columns */
.left {
    flex: 100%;
    max-width: 100%;
    margin-bottom: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Responsive layout - makes a one column-layout instead of two columns */
.cards {
    flex: 100%;
    max-width: 100%;
}

/* 320px — 480px: Mobile devices
481px — 768px: iPads, Tablets
769px — 1024px: Small screens, laptops
1025px — 1200px: Desktops, large screens
1201px and more —  Extra large screens, TV */

/* Responsive layout - makes a two column-layout */
@media (min-width: 600px) {
    .left {
        align-items: flex-start;
        flex: 40%;
        max-width: 40%;
        padding-right: 1em;
    }

    .cards {
        flex: 60%;
        max-width: 60%;
    }
}

@media (min-width: 769px) {

    .left {
        flex: 30%;
        max-width: 30%;
    }

    .cards {
        flex: 70%;
        max-width: 70%;
    }

    .searchInput {
        width: 50%;
        margin: 0 auto;
    }

}

@media (min-width: 1201px) {
    .left {
        flex: 20%;
        max-width: 20%;
    }

    .cards {
        flex: 80%;
        max-width: 80%;
    }

}