.header {
    display: flex;
    justify-content: space-between;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.breedExplorer,
.img {
    margin-top: 3em;
}

.ctaTop,
.ctaLeft,
.img {
    display: none;
}

.breedExplorer h3 {
    margin-top: 0;
    margin-bottom: 0.5em;
    color: var(--accent-color);
    text-transform: uppercase;
}

.breedExplorer h1 {
    margin: 0;
    line-height: 1.2;
    font-size: 2.3rem;
}

.breedExplorer p {
    margin-top: 0.5em;
    font-size: 1.2rem;
}

.breedExplorer .small {
    font-size: 0.9rem;
}

.cta {
    cursor: pointer;
    border: none;
    background-color: var(--accent-color);
    color: var(--primary-text-color);
    padding: 0.5em 1.5em;
    font-size: 1.25em;
    font-weight: 500;
    font-family: inherit;
    border-radius: 1.25em;
}

.cta:hover,
.cta:focus {
    box-shadow: 0 1px 5px var(--accent-color);
}

.big {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 1em;
}

.highlight {
    background: linear-gradient(120deg, var(--accent-color) 0%, var(--accent-color) 100%);
    background-repeat: no-repeat;
    background-size: 100% 40%;
    background-position: 0 90%;
}

/* 320px — 480px: Mobile devices
481px — 768px: iPads, Tablets
769px — 1024px: Small screens, laptops
1025px — 1200px: Desktops, large screens
1201px and more —  Extra large screens, TV */

@media (min-width: 481px) {
    .img {
        display: block;
    }

    .img img {
        width: 100%;
        /* object-fit: cover; */
    }

}

@media (min-width: 769px) {
    .ctaTop {
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
    }
}

@media (min-width: 1025px) {
    .container {
        justify-content:unset;
        align-items:unset;
    
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        /* grid-template-rows: repeat(4, 1fr); */
        grid-template-rows: repeat(3, 1fr);
        gap: unset;
        grid-column-gap: 2em;
        /* grid-row-gap: 2em; */
        grid-template-areas:
            ". . .    .    .    ."
            "breedExplorer breedExplorer img    img    img    img"
            "breedExplorer breedExplorer img    img    img    img";
    }

    .breedExplorer,
    .img {
        margin-top: 0;
    }

    .breedExplorer {
        grid-area: breedExplorer;
    }
    
    .ctaLeft {
        display: block;
    }

    .ctaLeft div {
        display: inline-flex;
        flex-direction: column;
        align-items: center;
    }

    .ctaBottom {
        display: none;
    }

    .img {
        grid-area: img;
   }
}