.rangeContainer {
    display: flex;
    justify-content: space-between;
    justify-content: flex-start;
    align-items: center;
}

.container p {
    margin-top: 0.25em;
}

.separator {
    margin: 0 0.25em;
}

.btn {
    align-self: stretch;
    cursor: pointer;
    border: none;
    background-color: var(--accent-color);
    color: var(--primary-text-color);
    padding: 0.25em 0.5em;
    margin-left: 0.5em;
    font-size: 1em;
    font-family: inherit;
    border-radius: 5px;
}

.btn:hover,
.btn:focus {
    box-shadow: 0 1px 5px var(--accent-color);
}

.btnDisabled,
.btnDisabled:hover,
.btnDisabled:focus {
    cursor: auto;
    opacity: 0.4;
    box-shadow: none;
}