.pagination {
    display: flex;
    justify-content: flex-start;
}

.pages {
    margin: auto 1em;
}

.previous,
.next {
    border: none;
    background-color: transparent;
    color: var(--primary-text-color);
    font-family: inherit;
    font-size: 1rem;
    cursor: pointer;
}

.previous:focus,
.previous:hover,
.next:focus,
.next:hover {
    font-weight: 500;
}

.disabled,
.disabled:hover,
.disabled:focus {
    cursor: auto;
    font-weight: normal;
}
