.container {
    margin: 3em auto;
    padding: 0.3em 0.5em;
    /* width: 100%; */
    /* width: 50%; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-color);
    border: 1px solid var(--accent-color);
    border-radius: 2em;
}

.container:focus,
.container:hover,
.container:focus-within {
    border-color: var(--border-hover-color);
}

.input {
    width: 100%;
    padding: 0.3em 0.5em;
    font-family: inherit;
    font-size: 1.3rem;
    color: var(--primary-text-color);
    background-color: var(--secondary-color);
    border: none;
}

.input:focus {
    outline: none;
}

.input::placeholder {
    font-size: 1.3rem;
    color: var(--primary-text-color);
}

.submit {
    border: none;
    background-color: transparent;
    padding: 0 0.5em;
    cursor: pointer;
}

.icon {
    width: 1.5rem;
    vertical-align: middle;
}