.section {
    width: 100%;
    /* overflow: hidden; */
    margin: 0 auto;
    /* border: 1px solid blue; */
}

.title {
    font-size: 1.5rem;
    margin: 1em auto;
}

.body {
    display: flex;
    justify-content: center;
    width: 100%;
    /* margin: 3em auto; */
    padding: 0.3em 0.5em;
    /* border: 1px solid blue; */
}

.img {
    margin-left: 1em;
    height: 250px;
    border: 10px solid var(--accent-color);
}

.breedName {
    font-size: 1.5rem;
    font-weight: 500;
    text-transform: uppercase;
    margin-top: 0;
}

.subtitle {
    font-weight: 500;
}

.btn {
    cursor: pointer;
    border: none;
    background-color: var(--accent-color);
    color: var(--primary-text-color);
    margin-top: 1em;
    padding: 0.5em 1.5em;
    font-size: 1em;
    font-family: inherit;
    border-radius: 5px;
}

.btn:hover, .btn:focus {
    opacity: 0.8;
}
