.card {
    /* margin: 10px; */
    background-color: var(--card-bg-color);
    border-radius: 3px;
    /* box-shadow: 0 2px 30px rgba(0, 0, 0, 0.2) */
    overflow: hidden;
    /* width: 300px; */
    break-inside: avoid;
    page-break-inside: avoid;
    /* background-color: rgb(207, 232, 220); */
    border: 2px solid var(--accent-color);
    /* padding: 10px; */
    margin: 0 0 1em 0;
}

.card:focus,
.card:hover {
    border-color: #df85c6;
}

.navLink {
    text-decoration: none;
    color: inherit;
}

.img {
    /* display: block; */
    width: 100%;
    /* La imagen mantiene su relacion de aspecto y no pierde calidad */
    height: auto;
    /* margin-bottom: 1em; */
    /* height: 200px; */
    /* object-fit: cover; */
    cursor: pointer;
}

.cardBody {
    padding: 0 0.5em;
    padding: 1em;
}

.breedName {
    font-size: 1.2rem;
    font-weight: 500;
    text-transform: uppercase;
    margin-top: 0;
    text-align: center;
}

.temperaments {
    margin: 0;
    line-height: 1.5;
}

.temperaments,
.weight {
    font-weight: 500;
}

.notVisible {
    visibility: hidden;
}