/* .container {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: wrap;
} */

.container {
  -moz-column-count: 2;
  -webkit-column-count: 2;
  column-count: 2;
  column-gap: 1em;
}

@media (min-width: 769px) {}

@media (min-width: 1025px) {
  .container {
    -moz-column-count: 4;
    -webkit-column-count: 4;
    column-count: 4;
  }
}