.container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid blue; */
}

.messageContainer {
    max-width: 10em;
    /* border: 1px solid pink; */
}

.img {
    width: 100%;
    max-width: 30em;
    margin-left: 1em;
}

.title {
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: 0.3em;
}

.message {
    margin-top: 0;
    font-size: 1.5rem;
}