.container {
    text-align: center;
    max-width: 769px;
    margin: 0 auto;
}

.title {
    font-size: 3rem;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 0.3em;
}

.message {
    margin-top: 0;
    font-size: 1.5rem;
}

/* 320px — 480px: Mobile devices
481px — 768px: iPads, Tablets
769px — 1024px: Small screens, laptops
1025px — 1200px: Desktops, large screens
1201px and more —  Extra large screens, TV */

/* @media (min-width:) {} */