.container {
    display: flex;
}

.logoLink {
    text-decoration: none;
    color: var(--primary-text-color);
}

.logo {
    border: none;
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 0.25em;
    padding: 0.5em;
    border-radius: 50%;
    background-color: var(--accent-color);
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    text-transform: lowercase;
    font-family: inherit;
    font-size: 1rem;
    font-weight: bold;
}


.logo, .text {
    margin-top: 0;
    margin-bottom: 0;
}

.text {
    font-size: 1.5rem;
    padding: 0.3em 0.1em;
}
