.navigation {
    display: flex;
    width: 100%;
    align-items: center;
    position: relative;
    z-index: 1;
}

.link {
    text-decoration: none;
    color: var(--primary-text-color);
}

.navigationMenu li a.activeLink {
    text-decoration: line-through;
    cursor: auto;
}

.navigationMenu {
    margin-left: auto;
}

.navigationMenu ul {
    padding: 0;
    margin: 0;
    display: none;
    position: absolute;
    top: 4.5rem;
    left: 0;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: var(--secondary-color);
    border-top: 2px solid var(--accent-color);
    border-bottom: 2px solid var(--accent-color);
}

.navigationMenu li {
    list-style-type: none;
    /* centers link text and strips off margin */
    /* text-align: center; */
    margin: 1em;
    font-size: 1.2rem;
}

.navigationMenu li a {
    text-decoration: none;
    /* display: block; */
    color: inherit;
    /* increases the surface area of the anchor tag to span the full width of the menu */
    width: 100%;
    padding: 1.5rem 0;
}

.navigationMenu li a:hover {
    font-weight: 500;
}

.navigationMenu.expanded ul {
    display: flex;
}

.hamburger {
    border: none;
    width: 2.5rem;
    height: 2.5rem;
    padding: 0.5em;
    border-radius: 50%;
    background-color: var(--accent-color);
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    display: block;
}

.hamburger:hover {
    opacity: 0.8;
}

.img {
    width: 1.5rem;
    display: block;
    /* margin-left: 1.5em; */
}

@media screen and (min-width: 1025px) {
    .hamburger {
        display: none;
    }

    .navigationMenu ul {
        padding: 0;
        align-items: center;
        position: static;
        top: unset;
        left: unset;
        display: flex;
        flex-direction: row;
        /* makes menu span full height and width */
        width: unset;
        height: unset;
        background-color: unset;
        border: none;
    }

    .navigationMenu li {
        margin: 0;
        margin-left: 2rem;
    }

    .navigationMenu li a {
        padding: 0;
    }

}