.pagination {
    display: flex;
    justify-content:start;
    margin-top: 1em;
    margin-bottom: 2em;
}

.pages {
    margin: auto 2em;
}

.previous,
.next {
    border: none;
    background-color: transparent;
    color: var(--primary-text-color);
    font-family: inherit;
    font-size: 1rem;
    cursor: pointer;
}

.previous:focus,
.previous:hover,
.next:focus,
.next:hover {
    font-weight: 500;
}