.item {
    display: block;
    margin-left: 0.5em;
    margin-top: 1em;
    padding: 0;
    cursor: pointer;
    border: none;
    background-color: var(--primary-color);
    color: var(--primary-text-color);
    font-family: inherit;
    font-size: 1em;
}

.item:hover,
.item:focus {
    font-weight: 500;
}

.img {
    margin-left: 0.5em;
    width: 24px;
}

.showFilters {
    font-weight: 500;
    margin-left: 0.5em;
    cursor: pointer;
}

.hidden {
    display: none;
}

.paginationContainer {
    margin: 1em 0;
}